header {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  nav {
    button {
      $backgroundActive: #26283a;
      cursor: pointer;
      padding: 0.75rem;
      background-color: #fafafa;
      border: 2px solid $backgroundActive;
      transition: background-color 0.2s ease;
      z-index: 10;
      position: relative;
      &:hover, &.active {
        background-color: $backgroundActive;
        color: white;
      }
      svg {
        margin-right: 5px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    header {
      nav {
        button {
          z-index: initial;
        }
      }
    }
  }
}
